<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        tools:replace="android:label"
        android:label="@string/app_name"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Intention to show permissions rationale for Health Connect -->
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
            <!-- Receive sharing intent filters for supported workout files -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/fit" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/vnd.garmin.tcx+xml" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:scheme="file" android:pathPattern=".*\\.fit" />
                <data android:scheme="file" android:pathPattern=".*\\.FIT" />
                <data android:scheme="file" android:pathPattern=".*\\.ftb" />
                <data android:scheme="file" android:pathPattern=".*\\.FTB" />
                <data android:scheme="file" android:pathPattern=".*\\.gpx" />
                <data android:scheme="file" android:pathPattern=".*\\.GPX" />
                <data android:scheme="file" android:pathPattern=".*\\.tcx" />
                <data android:scheme="file" android:pathPattern=".*\\.TCX" />
                <data android:scheme="file" android:pathPattern=".*\\.zip" />
                <data android:scheme="file" android:pathPattern=".*\\.ZIP" />
                <data android:scheme="content" android:pathPattern=".*\\.fit" />
                <data android:scheme="content" android:pathPattern=".*\\.FIT" />
                <data android:scheme="content" android:pathPattern=".*\\.ftb" />
                <data android:scheme="content" android:pathPattern=".*\\.FTB" />
                <data android:scheme="content" android:pathPattern=".*\\.gpx" />
                <data android:scheme="content" android:pathPattern=".*\\.GPX" />
                <data android:scheme="content" android:pathPattern=".*\\.tcx" />
                <data android:scheme="content" android:pathPattern=".*\\.TCX" />
                <data android:scheme="content" android:pathPattern=".*\\.zip" />
                <data android:scheme="content" android:pathPattern=".*\\.ZIP" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/fit" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/vnd.garmin.tcx+xml" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/fit" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/vnd.garmin.tcx+xml" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="*/*" android:pathPattern=".*\\.fit" />
                <data android:mimeType="*/*" android:pathPattern=".*\\.FIT" />
                <data android:mimeType="*/*" android:pathPattern=".*\\.ftb" />
                <data android:mimeType="*/*" android:pathPattern=".*\\.FTB" />
                <data android:mimeType="*/*" android:pathPattern=".*\\.gpx" />
                <data android:mimeType="*/*" android:pathPattern=".*\\.GPX" />
                <data android:mimeType="*/*" android:pathPattern=".*\\.tcx" />
                <data android:mimeType="*/*" android:pathPattern=".*\\.TCX" />
                <data android:mimeType="*/*" android:pathPattern=".*\\.zip" />
                <data android:mimeType="*/*" android:pathPattern=".*\\.ZIP" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="ViewPermissionUsageActivity"
            android:exported="true"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity-alias>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
        <intent>
            <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
            <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
        </intent>
    </queries>

    <!-- Health Connect permissions -->
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_WEIGHT" />
    <uses-permission android:name="android.permission.health.READ_HEIGHT" />
    <uses-permission android:name="android.permission.health.READ_RESTING_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_EXERCISE" />
    <uses-permission android:name="android.permission.health.READ_EXERCISE_ROUTES" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_CYCLING_PEDALING_CADENCE" />
    <uses-permission android:name="android.permission.health.READ_STEPS_CADENCE" />
    <uses-permission android:name="android.permission.health.READ_POWER" />
    <uses-permission android:name="android.permission.health.READ_SPEED" />
    <uses-permission android:name="android.permission.health.READ_DISTANCE" />
    <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.READ_HEALTH_DATA_HISTORY" />
    <uses-permission android:name="android.permission.health.READ_HEALTH_DATA_IN_BACKGROUND" />

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
